	/* ------------- board 상세 --------------*/
	
	.board-header{
		margin-top:0px;
	}
	
	#board-cate-btn{
		border: none;
		background-color: blue;
		border-radius: 10px;	
		margin-bottom:20px;
		background-color: orange;
		width:70px;
	}
	
	.board-title{
		font-size: 20px;
		font-weight: bold;
		margin-bottom:30px;
	}
	
	.board-title-wrap{
		display: flex;
		flex-direction: row;
		font-size:12px;
		align-items: baseline;
		justify-content: space-between	
	}
	.board-itsme{
		display: flex;
		flex-direction: row;
		align-items: baseline
	}
	.board-itsme-photo{
		min-width: 50px;
		height: 40px;
		background: url("../image/man.png");
		margin-bottom:10px;
	}
	
	.board-num{
		display: flex;
		flex-direction: row;
	}
	
	.board-itsme-name{
		margin: 0px 10px;
	}
	.board-num-count{
		margin-right:10px;
		margin-left:10px;
	}
	
	.board-body{
		font-size:12px;
		margin-bottom:70px;
	}
	
	.board-footer{
		font-size:12px;
	}
	
	.board-comment-new{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 30px;
	}
	
	.board-comment-new-photo{
		min-width: 50px;
		height: 40px;
		background: url("../image/man.png");
	}
	
	#new-text{
		width:720px;
		height: 50px;
		align-items: flex-start;
		margin-left:10px;
		border-color: darkgrey;
		border-radius: 5px;
	}
	
	#new-btn{
		margin-left:5px;
		color:white;
		background-color:lightgrey;
		border:none;
		border-radius: 4px;
		width: 48px;
		margin-top: 30px;
	}
	
	.board-comment-old-itsme{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 10px;
	}
	
	.board-comment-old-itsme-name{
		margin: 0px 10px;
	}
	
	.board-comment-old-itsme-date{
		margin-left: 15px;
		color: darkgrey;
	}
	
	.board-comment-old-text{
		margin-left: 70px;
		margin-bottom: 10px;
		font-size: 13px;
	}
	
	
	#nam{
		min-width: 50px;
		height: 40px;
		background: url("../image/man3.png");
	}
	
	#do{
		min-width: 50px;
		height: 40px;
		background: url("../image/man2.png");
	}