@charset "UTF-8";


	@font-face {
	    font-family: 'Pretendard-Regular';
	    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	    font-weight: 400;
	    font-style: normal;
	}

	html {font-family: 'Pretendard-Regular'; }

/* ---------- 업무 박스 ------------*/

.collabo-workBox{
	height: 300px;
}

.collabo-workBox-top{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.collabo-workBox-top-text{
	font-weight: bold;
	margin-right: 530px;
}
#workBox-search{
	border-radius: 8px;
}

#new{
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	background-color: white;
	cursor: pointer;
}

.collabo-workBox-content{
	display: flex;
	flex-direction: column;
}

.collabo-workBox-btns{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.collabo-workBox-btn{
	padding: 0px 20px;
	width: 100px;
}


#call, #progress, #finish, #feedback, #postpone{
	width: 100px;
	height: 25px;
	border-radius: 10px;
	border-style: none;
	margin-bottom: 10px;
}

#call{
	background-color: pink;
}

#progress{
	background-color: orange;
}

#finish{
	background-color: dodgerblue;
}

#feedback{
	background-color: limegreen;
}

.collabo-workBox-boxes{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 565px;
}

.collabo-workBox-box{
	border:1px solid darkgrey;
	padding:20px;
	font-size: 12px;
	border-radius: 7px;
	width:100px;
	margin-bottom:10px;
}

.collabo-workBox-box-column{
	display: flex;
	flex-direction: column;	
	width:142px;
}

.collabo-workBox-box-a{
	display: flex;
	flex-direction: row;
}


/*---------------- 업무요청 글작성 --------------*/
.collabo-create{
	display: flex;
	flex-direction: column;
	overflow-x:hidden; 
}

.collabo-create-box{
	width: 770px;
	height: 370px;
	border: 1px solid darkgrey;
	border-radius: 5px;
	margin-bottom: 20px;
}

.collabo-crate-box-top{
	border-bottom: 1px solid darkgrey;
	height: 45px;
    line-height: 45px;
    background-color: #cce8f4;
}

.create-box-top-margin{
	font-weight: bold;
	margin-left: 30px;
}

.collabo-crate-box-bottom{
	border-top: 1px solid darkgrey;
}

.create-box-bottom-margin{
	margin:15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#box-bottom-btn-a, .box-bottom-btn-b{
	border-color: darkgrey;
	width: 100px;
	height: 30px;
	background-color: white;
	border-radius: 2px;
	margin-left: 5px;
	font-size: 12px;
}


#box-bottom-btn-a:hover{
	cursor: pointer;
	background-color: grey;
}

#box-bottom-btn-b:hover{
	cursor: pointer;
	background-color: black;
	color: white;
}

.collabo-crate-box-content{
	height: 263px;
	padding: 0px 30px;
	font-size: 12px;
}

.create-content-title{
	border-bottom: 1px solid grey;	
	padding: 8px 0px;
}

.new-title, .list-title, new2-title{
	width: 700px;
	border-style: none;
	font-weight: bold;
}


.create-content-add{
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid grey;
	padding: 8px 0px;
	font-size: 12px;
}

.b_call, .b_progress, .b_finish, .b_feedback, .b_postpone{
	width: 60px;
	height: 25px;
	border-radius: 10px;
	border-style: none;
	margin-right: 5px;
	font-size:13px;
}

.b_call:hover{
	background-color: pink;
	cursor: pointer;
}

.b_progress:hover{
	background-color: orange;
	cursor: pointer;
}

.b_finish:hover{
	background-color: dodgerblue;
	cursor: pointer;
}

.b_feedback:hover{
	background-color: limegreen;
	cursor: pointer;
}

.b_postpone:hover{
	cursor: pointer;
}

.new-date-s, #up-date-s ,.new2-date-s{
	margin-right: 10px;
	border-style: none;
}
.new-date-e, #up-date-e, .new2-date-e{
	margin-right: 20px;
	border-style: none;
}
.new-people, .list-people, #up-people, .new2-people{
	border-style: none;
}

.new-content, #up-content, .new2-content{
	border-style: none;
	margin:20px 0px;
}

.list-content{
	padding:20px 0px 20px 10px;
}


/*------------ 업무리스트 ------------*/
.collabo-create{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.collabo-list-box{
	width: 770px;
	border: 1px solid darkgrey;
	border-radius: 5px;
	margin-bottom: 10px;
	
}


.collabo-list-box-update{
	width: 770px;
	border: 1px solid darkgrey;
	border-radius: 5px;
	margin-bottom: 10px;
	display: none;
}


.collabo-list-box-top{
	border-bottom: 1px solid darkgrey;
	height: 45px;
    line-height: 45px;
}

.list-box-top-margin{
	margin-left: 30px;
}

.collabo-list-box-bottom{
	border-top: 1px solid darkgrey;
}

.list-box-bottom-margin{
	margin:15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.box-bottom-btn-status{
	font-size: 15px;
}
.box-bottom-btn-update{
	font-size: 0px;
	
}

#box-bottom-btn-a, #box-bottom-btn-b{
	border-color: darkgrey;
	width: 100px;
	height: 30px;
	background-color: white;
	border-radius: 2px;
	margin-left: 5px;
	font-size: 12px;
}


#box-bottom-btn-a:hover{
	cursor: pointer;
	background-color: grey;
}

.box-bottom-btn-b:hover{
	cursor: pointer;
	background-color: black;
	color: white;
}

.collabo-list-box-content{
	padding: 0px 30px;
	font-size: 12px;
}

.list-content-title{
	border-bottom: 1px solid grey;	
	padding: 8px 0px;
}

.list-content-add{
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid grey;
	padding: 8px 0px;
	font-size: 12px;
}

.list-content-content{
	margin:30px 0px;
}

/* .b_call, .b_progress, .b_finish, .b_feedback, .b_postpone{ */
/* 	width: 60px; */
/* 	height: 25px; */
/* 	border-radius: 10px; */
/* 	border-style: none; */
/* } */

/* .b_call:hover{ */
/* 	background-color: pink; */
/* } */

/* .b_progress:hover{ */
/* 	background-color: orange; */
/* } */

/* .b_finish:hover{ */
/* 	background-color: dodgerblue; */
/* } */

/* .b_feedback:hover{ */
/* 	background-color: limegreen; */
/* } */

#list-add-date-a{
	margin-right: 10px;
}
#list-add-date-b{
	margin-right: 20px;
}
#list-add-people{
	border: none;
}

#list-content-style{
	border:none;
	margin:20px 0px;
}

/*------------ selectCate ------------*/
.collabo-workList-cate{
	margin-bottom: 5px;
	margin-right: 400px;
}

.statusBtn{
	border:none;
	border-right: 1px solid black;
	background: none;
	font-size: 15px;
}

.statusBtn:hover{
	background-color: black;
	color: white;
	cursor: pointer;	
}

#status_its{
	border-left:  1px solid black;
}