
/* 공통 사용 */
textarea {
	resize: none;
}

.button {
	width: 80px;
	height: 30px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.point {
	background: skyblue;
}

.button-margin {
	margin: 0px 10px;
}


/* suveyList.jsp */
.suveyList {
	text-align: center;
	line-height: 40px;
	border-collapse: collapse;
}

.suveyList th {
	font-size: 14px;
	border-bottom: 1px solid black;
}

.suveyList tr {
	border-bottom: 1px solid lightgray;
	font-size: 12px;
}

.top-menu {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: baseline;
}

#search-input {
	height: 20px;
}

#status {
	margin-left: 10px;
	height: 25px;
	width: 100px;
}

/* suveyFinal */
.title {
	font-size: 20px;
}

.sub-title {
	display: flex;
	justify-content: space-between;
}

#suvey-title {
	font-size: 20px;
	font-weight: bold;
}

#answer-num {
	font-size: 20px;
	font-weight: bold;
	margin: 0px 10px;
}

.border {
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 12px;
}

.hr-line {
	width: 99%;
}

.progress-bar {
	width: 200px;
	height: 20px;
}

#list {
	display: flex;
	justify-content: flex-end;
}

.table td {
	width: 200px;
	font-size: 12px;
}

/* suveyForm.jsp */
input, textarea {
	border: 1px solid lightgray;
}

table {
	font-size: 12px;
}

.table {
	line-height: 30px;
}

.td-margin {
	width: 150px;
}

.suvey-question {
	width: 500px;
}

.answer {
	width: 350px;
}

.question-length {
	width: 400px;
}

.add-object {
	display: flex;
	justify-content: space-between;
	margin-bottom: 7px;
}

.short-question {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 7px;
}

.center-button {
	display: flex;
	justify-content: center;
}

.long-button {
	width: 150px;
	height: 30px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.deleteObject {
	font-size: 12px;
	margin-left: 10px;
}

.br {
	height: 20px;
}